* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #e5e5e4;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12pt;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

div.c1 {
	margin:0 1em 0 1em;
	padding: 1em 1em 0 1em;
	background-color: #ffffff;
}

.blackTitle {
	xwidth: 100%;
	background-color: black;
	color: white;
	padding-left: 1em;
}

.clanek {
	background-color: #e5e5e4;
	padding:0 1em 0.5em 1em;
}

.zarazeni {
	padding-top:1ex;
	padding-bottom:0.5ex;
	color: #c1c782;
	font-size: 80%;
}


.nadpisClanku {
	font-weight: bold;
}

.textClanku {
	
}

.ikonky {
	text-align: center;
}

ul.seznam {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-left: 1em;
	margin-right: 1em;
}

ul.seznam li {
	list-style-type: none;
	display: block;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1)));
	padding: 1em 1em 1em 1em;	
}

div.c2 a {
	text-decoration: none;
	color: black;
}

h1 {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 14pt;
}

p.pfirst {
	margin-top: 0;
}

div.obsah {
	font-family: Cambria, 'Sanchez', serif;
	padding-bottom: 1ex;
}

div.poledniMenu {
	padding: 0em 1em 1em 1em;
}

div.poledniMenu table  {
	width: 100%;
	background-color: #e5e5e4;	
	padding-bottom: 1ex;
	padding-top: 1ex;
}


div.poledniMenu table caption {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(206,220,231,1)), color-stop(100%,rgba(89,106,114,1)));
	text-align: left;
	padding-left: 1em;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

div.poledniMenu td {
	padding-left: 1em;
	padding-right: 1em;
}

div.restaurace {
	font-size: 80%;
	padding-bottom: 1em;
}

p.restauraceNadpis {
	font-weight: bold;
	font-size: 120%;
}

div.prvniClanek {
	background-color: #e5e5e4;
}

div.zarazeni2 {
	color: #c1c782;
	padding-bottom: 0.5ex;
}

div.seznamClanku {
	padding: 1ex 1em 1em 1em;
}

div.seznamClanku a.readMore {
	float: right;
	color: #a1a762;
}
